@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Roboto+Serif:opsz,wght@8..144,200&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: "Roboto Serif", "Freehand", cursive, serif;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  background-color: hsl(0, 0%, 13%);
  color: white;

  box-sizing: border-box;
  padding: 7%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 30%);
}
