@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Roboto+Serif:opsz,wght@8..144,200&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 500px;
  min-height: 100vh;
  height: 100%;

  background-color: var(--bg-color);
  color: var(--color);

  box-sizing: border-box;
  padding: 7%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-scroll);
}
